body {
  background-image: url('../images/dark-triangles.png');
  color: #fff;
}

.gifSize {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.imgSize {
  width: 100px;
  height: 100px;
}
/*NFL TEAMS*/
.cardinals {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.falcons {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.ravens {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.bills {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.panthers {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.bears {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.bengals {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.browns {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.cowboys {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.broncos {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.lions {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.packers {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.texans {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.colts {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.jaguars {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.chiefs {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.rams {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.chargers {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.dolphins {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.vikings {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.patriots {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.saints {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.giants {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.jets {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.raiders {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.eagles {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.steelers {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.niners {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.seahawks {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.buccaneers {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.titans {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
.redskins {
  background-color: #C40006;
  height: 100px;
  margin: 0;
  padding: 25px;
  color: #fff;
}
/*===============*/
